.hidden {
  display: none;
}

body {
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.entireContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#img {
  width: 600px;
  height: 450px;
  border-radius: 24px;
  border: 2px solid black;
}

#imgBox {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 7px 7px 0px #ffef7b;
  margin: 20px;
}

#loginInputBox {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 15px;
  width: 230px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #f4f4f4;
}

#loginButton {
  font-family: 'Montserrat Alternates', sans-serif;
  width: 60px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #aafdc3;
  cursor: pointer;
}

#todoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  width: 600px;
  height: 400px;
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 7px 7px 0px #ffef7b;
  margin: 20px;
}

#inputBox {
  display: flex;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 15px;
  width: 540px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #f4f4f4;
  margin-top: 20px;
}

#listBox {
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  justify-content: flex-start;
  margin: auto 0;
}

#clockBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  width: 200px;
  height: 130px;
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 7px 7px 0px #ffef7b;
  margin: 20px;
}

#greeting {
  font-family: 'Montserrat Alternates', sans-serif;
}

@media (max-width:900px){
  /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
  .entireContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}